.trailing.clear {
  cursor: pointer;

  &:focus {
    color: #3b71ca;
    outline: none;
  }
}

.btn {
  margin-top: 0;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  /* background-image: url("../img/hero-bg.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  margin-top: 2px;
  padding: 60px 0;
}
#pricesection {
  width: 920px;
  /* background-image: url("../img/hero-bg.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  margin-top: 2px;
  margin: auto;
}
.container_info {
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  background-color: #fff;
  border-radius: 15px;
  padding: 30px 40px;
  box-shadow: 4px 3px 38px -23px black;
}
.playdemo {
  background-color: rgb(255, 255, 255) !important;
  border: none !important;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.circle {
  width: 41px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  background-color: #fff;
  box-shadow: 4px 3px 30px -10px black;
}
#hero h1 {
  margin: 0 0 20px 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 26px;
  color: #364146;
}

.text_color {
  color: rgb(212, 66, 90);
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 3px;
  transition: 0.5s;
  color: #fff;
  background: #044d71;
}

#hero .btn-get-started:hover {
  background: #1100d1;
}

#hero .hero-img {
  text-align: center;
  margin-bottom: 35px;
}

#hero .hero-img img {
  width: 70%;
}

.main {
  width: 50%;
  margin: 50px auto;
}

/*  search icon */

.has-search .form-control {
  padding-left: 2.375rem;
  position: relative;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
/*  search icon */

.inputcommon {
  position: relative;
  top: 20px;
  left: 10px;
  z-index: 9;
  top: 9px;
  font-size: 10px;
  left: 8px;
  padding: 2px 9px;
  background-color: white;
}

.joinbtn {
  transition: transform 0.3s ease;
}

.joinbtntwo {
  font-weight: 700;
  border: #050e56;
  border-radius: 15px;
  background-color: #050e56;
  height: 47px;
  width: 130px;
  transition: font-weight 0.3s ease, transform 0.3s ease;
}
.joinbtntwo:hover {
  transform: scale(0.1);
  font-weight: 800;
}

.joinbtn:hover {
  transform: scale(1.1);
}

.playdemo {
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: relative;
}

.playdemo:hover {
  opacity: 0.8;
  color: #000000;
  transform: scale(1.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.playdemo.clicked {
  opacity: 0;
  transform: scale(0);
}

.joinbtn {
  border-radius: 15px;
  border: #050e56;
  font-weight: 700;
  width: 100px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.joinbtn:hover {
  background-color: #0a0778;
  color: white;
  transform: scale(1.1);
  font-weight: 700;
}

.joinbtntwo:hover {
  background-color: #050e56;
  color: white;
  transform: scale(1.1);
  font-weight: 700;
}

.pricebtn {
  height: 47px;

  background-color: #050e56;
  border-radius: 15px;
  border: #050e56;
  font-weight: 700;
  width: 100px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.pricebtn:hover {
  background-color: #050e56;
  color: white;
  transform: scale(1.1);
  font-weight: 700;
}

/* Media query */
@media (max-width: 767px) {
  .joinbtntwo {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .joinbtn {
    font-size: 14px;
  }
}

@media (min-width: 1027px) {
  #hero {
    background-attachment: fixed;
  }
  .d-none {
    display: none;
  }
}

@media (max-width: 992px) {
  #hero h1 {
    font-size: 29px;
    line-height: 40px;
  }

  #hero h2 {
    font-size: 28px;
  }
}
@media (max-width: 592px) {
  #hero h1 {
    margin-top: 10px;
    font-size: 23px;
    line-height: 20px;
  }

  #hero h2 {
    font-size: 23px;
  }
}
@media (max-width: 750px) {
  #pricesection {
    width: 330px;
  }
}

@media (max-width: 592px) {
  .joinbtn {
    margin-bottom: 30px;
    transition: transform 0.3s ease;
  }
}
@media (max-width: 592px) {
  .joinbtn {
    transition: transform 0.3s ease;
  }
}

@media (max-width: 592px) {
  .playdemo {
    margin-top: 35px;
  }
}
